.course-item {
  &__dates {
    display: flex;
    color: #858997;

    span {
      margin-left: 24px;

      i {
        margin-right: 3px;
        font-size: 20px;
      }
    }
  }

  &__top-rated-star {
    margin-left: 5px;
    color: orange;
  }

  &-content {
    &__description {
      line-height: 18px;
    }
  }

  &-actions {
    &__button {
      margin-left: 12px;
    }
  }
}
