<div class="course-item">
  <div class="course-item__header justify--space-between">
    <h3 class="course-item__title vertical-align--center">
      {{course.name | uppercase}}
      <i *ngIf="course.topRated" class="course-item__top-rated-star material-icons">star_rate</i>
    </h3>
    <div class="course-item__dates">
      <span class="vertical-align--center">
        <i class="material-icons">access_time</i>
        {{course.length | duration}}
      </span>
      <span class="vertical-align--center">
        <i class="material-icons">calendar_today</i>
        {{course.date | date:'shortDate'}}
      </span>
    </div>
  </div>
  <div class="course-item__content course-item-content justify--space-between">
    <div class="course-item-content__description">
      {{course.description}}
    </div>
    <div class="course-item-content__actions course-item-actions justify--space-between">
      <a class="course-item-actions__button custom-button custom-button--color-blue custom-button--size-s"
         [routerLink]="[course.id]">
        <i class="material-icons">edit</i>Edit
      </a>
      <button (click)="onDelete()"
              class="course-item__delete-button course-item-actions__button custom-button custom-button--color-blue custom-button--size-s">
        <i class="material-icons">delete</i>Delete
      </button>
    </div>
  </div>
</div>
