.course-item {
  padding-top: 10px;
  padding-bottom: 25px;

  &__dates {
    display: flex;
    color: #858997;

    span {
      margin-left: 24px;

      i {
        margin-right: 3px;
        font-size: 20px;
      }
    }
  }

  &-content {
    &__description {
      line-height: 18px;
    }
  }

  &-actions {
    &__button {
      margin-left: 12px;
    }
  }
}
