<ng-container>
  <label for="authors">{{ 'COURSE_FORM_PAGE.Authors' | translate }}</label>
  <div class="justify--space-between vertical-align--center">
    <input id="authors"
           list="authors-list"
           placeholder="{{ 'COURSE_FORM_PAGE.Type_to_search' | translate }}"
           (change)="onChange($event)"
           [(ngModel)]="searchQuery">
    <datalist id="authors-list">
      <option *ngFor="let item of listToSelect"
              [value]="item.id"
              [label]="item.name">
      </option>
    </datalist>
  </div>
  <div class="selected-items">
    <h4>{{ 'COURSE_FORM_PAGE.Selected_authors' | translate }}: </h4>
    <ul>
      <li *ngFor="let author of authors">
        {{author.name}} {{author.lastName}}
        <span class="cursor--pointer" (click)="onRemove(author.id)"><i class="material-icons">delete</i></span>
      </li>
    </ul>
  </div>
</ng-container>
