<header class="header layout-padding vertical-align--center justify--space-between">
  <div class="header__logo">
    <cp-fake-logo></cp-fake-logo>
  </div>
  <div class="header__user-buttons vertical-align--center">
    <div class="custom-button custom-button--unclickable">
      <i class="material-icons">person</i>
      <span>User Login</span>
    </div>
    <button class="custom-button"><i class="material-icons">exit_to_app</i>Log off</button>
  </div>
</header>
<cp-breadcrumbs></cp-breadcrumbs>
