.courses-page {
  &__header {
    margin-bottom: 17px;
  }

  &__add-button {
    margin-top: 30px;
  }

  &__items-container {
    > .course-item {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__load-more {
    height: 36px;
  }

  &__no-results {
    height: 100px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "SourceSansPro-Bold";
  }
}

.courses-page-search {
  display: flex;

  &__input {
    width: 240px;
    margin-right: 12px;
  }
}

cp-courses-item {
  padding-top: 10px;
  padding-bottom: 25px;

  &.top-rated {
    background-color: lightgray;
  }
}
