<div class="courses-page">
  <div class="courses-page__header justify--space-between">
    <div class="courses-page-search">
      <input [(ngModel)]="searchQuery"
             class="courses-page-search__input"
             type="text"
             placeholder="Type to search">
      <button (click)="onFind()"
              class="courses-page-search__button custom-button custom-button--color-green">
        Search
      </button>
    </div>
    <a [routerLink]="'/courses/new'" class="courses-page__add-button custom-button custom-button--color-blue">
      <i class="material-icons">add_circle_outline</i>
      <span>Add course</span>
    </a>
  </div>
  <div class="courses-page__items-container" *ngIf="courses?.length; else noResults">
    <cp-courses-item *ngFor="let course of courses | orderBy:'creationDate':false" [course]="course"
                     [ngClass]="{'course-item': true, 'top-rated': course.topRated, card: true}"
                     cpFreshIndicator
                     [creationDate]="course.creationDate"
                     (delete)="onDelete($event)"
                     class="course-item">
    </cp-courses-item>
  </div>
  <ng-template #noResults>
    <div class="courses-page__no-results card justify--center vertical-align--center">
      No data. Fill free to add new course
    </div>
  </ng-template>
  <div class="courses-page__load-more card justify--center vertical-align--center">
    <a class="cursor--pointer" (click)="onLoadMore()">Load more</a>
  </div>
</div>
