<div class="login-page vertical-align--center justify--center">
  <div class="card login-page__form login-form" [formGroup]="form">
    <h2 class="login-form__title">{{ 'LOGIN.Login' | translate }}</h2>
    <div class="login-form__control">
      <label for="email-input">{{ 'LOGIN.Email' | translate }}</label>
      <input formControlName="email"
             id="email-input"
             type="text"
             placeholder="{{ 'LOGIN.Enter_email' | translate }}">
      <span *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required" class="color--error">
        {{ 'SHARED.Required_error' | translate }}
      </span>
    </div>
    <div class="login-form__control">
      <label for="password-input">{{ 'LOGIN.Password' | translate }}</label>
      <input formControlName="password"
             id="password-input"
             type="text"
             placeholder="{{ 'LOGIN.Enter_password' | translate }}">
      <span *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required" class="color--error">
        {{ 'SHARED.Required_error' | translate }}
      </span>
    </div>
    <div class="login-form__actions login-form-actions justify--space-between vertical-align--center">
      <a class="login-form-actions__forgot-password" href="">{{ 'LOGIN.Forgot_password' | translate }}</a>
      <button class="custom-button custom-button--color-blue" (click)="login()">{{ 'LOGIN.Login' | translate }}</button>
    </div>
  </div>
</div>
